
.signup {
    form {
        display: flex;
        flex-flow: wrap;
        flex: 1 1 auto;
        align-items: center;
        padding: 1em;
        background-color: rgba(0,0,0,0.4);
    }

    form > * {
        margin: 10px 0;
    }

    label {
        font-size: 1.4rem;
        color: white;
        margin: 0 1em 0 0;
    }

    input {
        height: 2.7em;
        outline: none;
        border: none;
        border-radius: 4px;
        flex-grow: 6;
    }

    @media only screen and (min-width: 768px) {
        input {
            margin: 0 3em 0 0;
        }
    }

    button {
        width: 10em;
        height: 2.4em;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        background-color: deepskyblue;
        outline: none;
        border: none;
        border-radius: 4px;
        flex-grow: 1;
    }
}